name: Environment Test

on:
  workflow_dispatch:

jobs:
  env_demo:
    runs-on: ubuntu-latest
    env:
      GREETING: "Hej världen"
      NAME: "Student"
    steps:
      - name: Visa miljövariabler
        run: |
          echo "Greeting: $GREETING"
          echo "Name: $NAME"
          echo "Repo: $GITHUB_REPOSITORY"
          echo "Branch: $GITHUB_REF"
